USE [master]
GO
/****** Object:  Database [CqInfo]    Script Date: 2019/6/20 16:37:05 ******/
CREATE DATABASE [CqInfo]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'CqInfo', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.MSSQLSERVER\MSSQL\DATA\CqInfo.mdf' , SIZE = 5120KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'CqInfo_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.MSSQLSERVER\MSSQL\DATA\CqInfo_log.ldf' , SIZE = 2048KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [CqInfo].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [CqInfo]
GO
/****** Object:  Table [dbo].[CqGroupMessage]    Script Date: 2019/6/20 16:37:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[CqGroupMessage](
	[Id] [varchar](50) NOT NULL,
	[CqMsgId] [int] NOT NULL,
	[GroupId] [bigint] NOT NULL,
	[FromQQ] [bigint] NOT NULL,
	[Message] [nvarchar](max) NULL,
	[CreateTime] [datetime] NOT NULL CONSTRAINT [DF_CqGroupMessageInfo_CreateTime]  DEFAULT (getdate()),
 CONSTRAINT [PK_CqGroupMessageInfo] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[CqMessageAndDicRelation]    Script Date: 2019/6/20 16:37:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[CqMessageAndDicRelation](
	[Id] [varchar](50) NOT NULL,
	[CqGroupMessageId] [varchar](50) NOT NULL,
	[CqMsgDicId] [varchar](50) NULL,
	[CreateTime] [datetime] NOT NULL,
 CONSTRAINT [PK_CqMessageAndImageRelation] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[CqMsgDic]    Script Date: 2019/6/20 16:37:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[CqMsgDic](
	[Id] [varchar](50) NOT NULL,
	[CqCode] [varchar](200) NOT NULL,
	[CqCodeType] [varchar](50) NULL,
	[Contents] [varchar](max) NULL,
	[CreateTime] [datetime] NOT NULL CONSTRAINT [DF_CqImageInfo_CreateTime]  DEFAULT (getdate()),
	[UpdateTime] [datetime] NULL,
 CONSTRAINT [PK_CqImageInfo] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'cq码' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'CqMsgDic', @level2type=N'COLUMN',@level2name=N'CqCode'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'创建时间' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'CqMsgDic', @level2type=N'COLUMN',@level2name=N'CreateTime'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'更新时间' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'CqMsgDic', @level2type=N'COLUMN',@level2name=N'UpdateTime'
GO
USE [master]
GO
